.banner{
    background: url(http://i.imgur.com/HTP08mA.png) 0px -3px no-repeat;
    background-size: cover;
    height: 120px;
    width: 100%;
    margin-top: -20px;
}

.banner .logo{
    margin-top: 15px;
}

.findevents{margin-bottom: 20px}
.findevents h4{text-align: center}
.findevents .mood{text-align: center}
.findevents .well{height: 100px}
.findevents .wrap .dropdown-menu{text-align: left}
.findevents .pull-left{width: 19%; margin-right: 1%}

h2 {
    border-bottom: 12px double #00C993;
    color: #25D1BF;
    font-weight: normal;
}

.thumbnail time {
    font-style: italic;
}